{% extends 'base.html' %}

{% block title %}Connector {{connector.id}} Config{% endblock %}
{% block header %}
  <h1><span data-i18n="col_connector">Connector</span> {{connector.id}} <span data-i18n="word_config">Config</span></h1>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col" data-i18n="col_key">Key</th>
      <th scope="col" data-i18n="col_value">Value</th>
    </tr>
  </thead>
  <tbody>
    {% for config_key, config_item in config.items() %}
    <tr>
      <td>{{config_key}}</td>
      <td>{{config_item}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}