{% extends 'base.html' %}

{% block title %}Connectors Status{% endblock %}
{% block header %}
  <h1><span data-i18n="nav_connectors">Connectors</span> <span data-i18n="nav_status">Status</span></h1>
{% endblock %}

{% block content %}
{% if connectors %}
<table class="table">
  <thead>
      <tr>
          <th data-i18n="col_connector">Connector</th>
          <th data-i18n="col_connector_status">Connector Status</th>
          <th data-i18n="col_log_level">Log Level</th>
          <th data-i18n="col_version">Version</th>
          <th data-i18n="col_optional_features">Optional Features</th>
          <th data-i18n="col_last_update">Last Update</th>
      </tr>
  </thead>
  <tbody>
    {% for connector in connectors %}
      {% if connector.is_healthy() %}
      <tr class="table-success">
      {% else %}
      <tr class="table-danger">
      {% endif %}
          <td>{{connector.id}}</td>
          <td><span data-i18n="{{ 'healthy' if connector.is_healthy() else 'unhealthy' }}">{{ "healthy" if connector.is_healthy() else "unhealthy"}}</span></td>
          <td>{{connector.log_level}}</td>
          <td>{{connector.get_version()}}</td>
          <td>
            <ul>
              {% for feature in connector.get_features() %}
              <li>{{feature}}</li>
              {% endfor %}
            </ul>
          </td>
          <td><p class="js-convert-time">{{connector.last_update}}</p></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p data-i18n="no_connectors">No connectors found</p>
{% endif %}
{% endblock %}